
body{
    background-color: rgb(234, 236, 245);
    margin: 0;
    padding: 0;
   animation: fadeIn 3.5s;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.slide{
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    top: 0px;
    left: 0;
    background-color: #fff;
    padding: 80px 0 0 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    z-index: 9;
    transform: translatey(-100%);
}
.slide a{
    text-decoration: none;
    padding: 30px 0;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .comm{
    width: 300px;
    padding: 15px;
    margin: 0 0 15px 0;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.buttn{
    background-color: #090808;
    color: whitesmoke;
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle{
    position: fixed;
    width: 30px;
    height: 30px;
    right:0;
    margin: 20px ;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    z-index: 10;
    border-radius: 2px;
}
.toggle .common{
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 50px;
    background-color: #000;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
}
.toggle .middle_line{
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom_line{
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line{
   opacity: 0;
    transform: translate(30px);
}
input:checked ~ .slide{
    transform: translateY(0);
}

header{
    background-color: rgba(248, 245, 245, 0.87);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    width: 98%;
    align-items: center;
    position:fixed;
    top: 0;
    z-index: 10;
}
.first_header_sec{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.first_header_sec_2{
    display: none;
}
.logo{
   height: 70px;
   width: 178px;
   object-fit: cover;   
}
.first_header_2{
    display:none;
}

main{
    padding: 150px 20px 20px 20px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.salary{
        animation: float 3s ease-in-out infinite;
        border-radius: 30px;
        
   
}
.salary img{
        border-radius: 30px;
        object-fit: cover;
        width: 300px;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

.container1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
@keyframes spin{
 0%{

 }
 100%{
     transform: rotate(360deg);
 }
}
.spinn{
    position: absolute;
    left:10px;
    top: 14px;
    animation: 2s spin  linear infinite;
   
}
.spinn img{
    border-radius: 50px;
    object-fit: cover;
}
.greater{
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 30px;
}
.container1 a{
    display: flex;
    position: relative;
   background-color:#0089ff;
   text-align: center;
   justify-content: center;
   width: 350px;
   height: 50px;
   padding: 5px 10px;
   border-radius: 40px;
   color: #ffff;
    text-decoration: none;
    border: 2px solid transparent;
    transition:border-color .2s ease-in-out;
    animation: slideInbottom 1.5s ease-in-out;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes slideInbottom{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.container1 a:hover{
    background-color: rgb(1, 1, 32);
    border-color:#0089ff;
    
}
.container1 h1{
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(1, 1, 32);
    animation: slideInbottom 0.5s ease-in-out;
}
@keyframes slideInbottom{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.container2{
    font-size: 1.5rem;
    color: rgb(1, 1, 32);
    animation: slideInbottom 1s ease-out;
}
@keyframes slideInbottom{
    from{
        transform: translateY(100%);
        opacity: 0;

    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.container3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-bottom: 35px;
    
}
.appss{
    align-items: center;
    text-decoration: none;
    background-color: rgb(1, 1, 32);
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    margin-right: 10px;
}
.appss:hover{
    transform: translateY(-10px);
}
.appss a{
    color: #ffff;
    text-decoration: none;
    font-size: 1rem;
}
.apps{
    display: flex;
}
.apps img{
    width: 50px;
    height: 25px;
    object-fit: contain;
}
.lock-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:60px;
}
.lock img{
    border-radius: 40px;
    padding: 20px;
    
}
.arr{
    text-decoration: none;
    color: #0c1825;
    margin: 0 0 60px 0
}
.htwo{
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.security{
    animation: slideInbottom 1s ease-in-out;
}
@keyframes slideInbottom{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(o);
        opacity: 1;
    }
}
.Auto{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
     text-align: center;
    justify-content: center;
    border-radius: 20px;
    padding: 40px 30px 0 30px;
    margin: 20px 0 30px 0;
    transition: background-color .3s ease-in-out;
    text-align: center;
}
.Auto:hover{
    background-color: rgb(179, 44, 179);
    color: white;
}
.Auto2 a{
    color: #0089ff;
}
.Auto2:hover{
    background-color: #0089ff;
    color: white;
}
.Auto3 a{
    color: #1734ca;
}
.Auto3:hover{
    background-color: #1734ca;
    color: white;
}
.Auto4 a{
    color:#EA417d;   
}
.Auto4:hover{
    background-color:#EA417d;
    color: white;
}
.Auto5 a{
    color:#0c0b1e;
}
.Auto5:hover{
    background-color:#0c0b1e;
    color: white;
}
.Auto6:hover{
    background-color:#0c0b1e;
    color: white;
}
.Auto6:hover{
    color:#0c0b1e;
}
.Auto:hover a{
    color: white;
}

.Auto a{
    text-decoration: none;
}
.phot img{
    border-radius: 20px 20px 0 0;
}

.auto2{
 margin-top: 60px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    background-color: white;
    text-align: center;
}
.sec3 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;

}
.sec3 p{
    margin: -10px 0 16px 0 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec-3{
    border-radius: 30px;
    background-color: rgb(23, 80, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin: 30px 0;
    overflow: hidden;
}
.sec-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pho{
    margin-bottom: -180px;
}
.sec-ano{
 display: none;}
 .vid{
    border-radius: 30px;
    border: 10px solid whitesmoke;
    margin: 0 0 100PX 0;

 }
 .vidsection1{
     padding: 0 20px;
   
}
 .vidsection{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
 }
 .mili{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .mili img{
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 30px;
    border: 3px solid whitesmoke;
 }
 .last1{
    display: flex;
    background-color: whitesmoke;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -28px;
    margin-left: -15px;
 }

 .milli1:hover{
    z-index: 2;
 }
 .milli2{
    margin-left: -15px;
 }
 .milli2:hover{
    z-index: 3;
 }
 .milli3{
      margin-left: -15px;
 }
 .milli3:hover{
    z-index: 4;
 }
 .milli4{
      margin-left: -15px;
 }
 .milli4:hover{
    z-index: 5;
 }
 .millio{
    text-align: center;
     margin: 0 0 50px 0;
 }
 .millio{
    padding: 0 20px;
 }
 .part0fmili{
    background-color: rgb(234, 236, 245);
    border: 2px solid rgb(172, 170, 170);
 }
 .part0fmili a{
    color: black;
 }
 .featured{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
 }
.lastsectio{
    background-image: linear-gradient(  
    );   
    padding: 0 0 50px 0;        
}
.feat{margin: 0 0 40px 0;} 
.lastlog{
   display: flex;
   flex-direction: column;
   padding: 0 20px; 
}
.lastlog img{
 object-fit: cover;
}
.cont{
    display: flex;
    justify-content: space-around;
   
}
.myno{
     padding: 0 25px;
     margin: 20px 0;
}
.par{
    font-size: .7rem;
    padding: 20px;
    font-family:serif;
    text-decoration: none;
    width: 50%;
}
.conta{
    display: none;
}

@media(min-width: 40rem){
header{
    padding: 0 60px;
    width: 90%;
}
.first_header_sec_2{
    display: block;
    align-items: center;
    padding: 0 0 0 5px;
    
}
.first_header_sec_2 a{
   text-decoration: none;
   color: #3D4f60;
   font-size: 1.5rem;
   padding: 0 30px 0 0 ;
}
.first_header_2{
    display: block;   
}
.first_header_3{
    display: flex;
}
.amburger{
    display: none;
}
button{
    padding: 15px 23px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 10px 0 0;
}
button a{
    text-decoration: none;
    color:#0c1825
}
.Signup{
    background-color: black;
    color: #ffff;
    padding: 15px 22px;
    border-radius: 10px;
    margin: 0;
}
.Signup a{
    color: #ffffff;
    text-decoration: none;

}
main{
    padding: 150px 60px 20px 60px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.salary img{
        border-radius: 30px;
        object-fit: cover;
        min-width: 400px;
}
.mainscr{
    width: 540px;
}
.htwo{
    font-size: 3rem;
}
.htwo1{
   font-size: 1.8rem;
}
.gr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.sec-4{
    display: flex;
    flex-direction: row;
   
}
.sec3 h1{
    font-size: 2.5rem;

}
.sec3 p{
    font-size: 1.5rem;
}
.sec-3{
    border-radius: 30px;
    background-color: rgb(23, 80, 236);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    padding: 25px 15px 0 15px;
    margin: 30px 0;
    overflow: hidden;
}
.sec-4{
    margin-top: -60;
    display: none;
    flex-direction: column;
    align-items: center;
    height:500px;
    justify-content: space-around;
}
.sec-ano{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 510px;
 padding: 0 0 50px 0;
}
.pho img{
    width: 500px;
    height: 700px;
}
.vidsection h1{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.vidsection p{
    font-size: 1.4rem;
}
.vid{
   width: 850px;
 }
  .millio h2{
    font-size: 2rem;
 } 
 .anomili{display: flex;
flex-direction: column;
}
.millio{
    display: flex;
    justify-content: space-between;
   
}

 .feat img{
  width: 200px;
  height: 100px;
  object-fit: cover;
 }
 .featured h1{
    font-size: 1.5rem;
 }
 .pic{
    display: flex;
    flex-direction: column;
 }
 .lastlog img{
    width: 300px;
    height: 150px;
 }
 .lastlog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 60px 0 80px 0;
 } 
 hr{
    width: 90%;
 }
 .par{
    width: 70%;
    font-size: 1rem;
}
.cont{
    display: none;
}
.conta{
    display: block;
}
.miofe{
    display: none;
}
.lab{
    display: none;
}
}
