
body{
    background-color: rgb(234, 236, 245);
    margin: 0;
    padding: 0;
   animation: fadeIn 3.5s;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



header{
    background-color: rgba(248, 245, 245, 0.87);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    width: 95%;
    align-items: center;
    position:fixed;
    top: 0;
    z-index: 10;
}
.first_header_sec{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.first_header_sec_2{
    display: none;
}
.logo{
   height: 80px;
   width: 178px;
   object-fit: cover;   
}
.first_header_2{
    display:none;
}
.amburger{
    font-size: 2.5rem;
}
main{
    padding: 150px 20px 20px 20px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.salary{
        animation: float 3s ease-in-out infinite;
        border-radius: 30px;
        
   
}
.salary img{
        border-radius: 30px;
        object-fit: cover;
        width: 300px;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

.container1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
@keyframes spin{
 0%{

 }
 100%{
     transform: rotate(360deg);
 }
}
.spinn{
    position: absolute;
    left:10px;
    top: 14px;
    animation: 2s spin  linear infinite;
   
}
.spinn img{
    border-radius: 50px;
    object-fit: cover;
}
.greater{
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 30px;
}
.container1 a{
    display: flex;
    position: relative;
   background-color:#0089ff;
   text-align: center;
   justify-content: center;
   width: 350px;
   height: 50px;
   padding: 5px 10px;
   border-radius: 40px;
   color: #ffff;
    text-decoration: none;
    border: 2px solid transparent;
    transition:border-color .2s ease-in-out;
    animation: slideInbottom 1.5s ease-in-out;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes slideInbottom{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.container1 a:hover{
    background-color: rgb(1, 1, 32);
    border-color:#0089ff;
    
}
.container1 h1{
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(1, 1, 32);
    animation: slideInbottom 0.5s ease-in-out;
}
@keyframes slideInbottom{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.container2{
    font-size: 1.5rem;
    color: rgb(1, 1, 32);
    animation: slideInbottom 1s ease-out;
}
@keyframes slideInbottom{
    from{
        transform: translateY(100%);
        opacity: 0;

    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.container3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-bottom: 35px;
    
}
.appss{
    align-items: center;
    text-decoration: none;
    background-color: rgb(1, 1, 32);
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    margin-right: 10px;
}
.appss:hover{
    transform: translateY(-10px);
}
.appss a{
    color: #ffff;
    text-decoration: none;
    font-size: 1rem;
}
.apps{
    display: flex;
}
.apps img{
    width: 50px;
    height: 25px;
    object-fit: contain;
}
.lock-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:60px;
}
.lock img{
    border-radius: 40px;
    padding: 20px;
    
}
.arr{
    text-decoration: none;
    color: #0c1825;
    margin: 0 0 60px 0
}
.htwo{
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.security{
    animation: slideInbottom 1s ease-in-out;
}
@keyframes slideInbottom{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(o);
        opacity: 1;
    }
}
.Auto{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
     text-align: center;
    justify-content: center;
    border-radius: 20px;
    padding: 40px 30px 0 30px;
    margin: 20px 0 30px 0;
    transition: background-color .3s ease-in-out;
    text-align: center;
}
.Auto:hover{
    background-color: rgb(221, 61, 221);
    color: white;
}
.Auto:hover a{
    color: white;
}

.Auto a{
    text-decoration: none;
}
.phot img{
    border-radius: 20px 20px 0 0;
}

.auto2{
 margin-top: 60px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    background-color: white;
    text-align: center;
}
.sec3 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;

}
.sec3 p{
    margin: -10px 0 16px 0 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec-3{
    border-radius: 30px;
    background-color: rgb(23, 80, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin: 30px 0;
    overflow: hidden;
}
.sec-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pho{
    margin-bottom: -180px;
}
.sec-ano{
 display: none;}
 .vid{
    border-radius: 30px;
    border: 10px solid whitesmoke;

 }
 .vidsection1{ padding: 0 20px;}
 .vidsection{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
 }
@media(min-width: 40rem){
header{
    padding: 0 60px;
    width: 90%;
}
.first_header_sec_2{
    display: block;
    align-items: center;
    padding: 0 0 0 5px;
    
}
.first_header_sec_2 a{
   text-decoration: none;
   color: #3D4f60;
   font-size: 1rem;
   padding: 0 24px 0 0 ;
}
.first_header_2{
    display: block;   
}
.first_header_3{
    display: flex;
}
.amburger{
    display: none;
}
button{
    padding: 15px 23px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 10px 0 0;
}
button a{
    text-decoration: none;
    color:#0c1825
}
.Signup{
    background-color: black;
    color: #ffff;
    padding: 15px 22px;
    border-radius: 10px;
    margin: 0;
}
.Signup a{
    color: #ffffff;
    text-decoration: none;

}
main{
    padding: 150px 60px 20px 60px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.salary img{
        border-radius: 30px;
        object-fit: cover;
        min-width: 400px;
}
.mainscr{
    width: 540px;
}
.htwo{
    font-size: 3rem;
}
.htwo1{
   font-size: 1.8rem;
}
.gr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.sec-4{
    display: flex;
    flex-direction: row;
   
}
.sec3 h1{
    font-size: 2.5rem;

}
.sec3 p{
    font-size: 1.5rem;
}
.sec-3{
    border-radius: 30px;
    background-color: rgb(23, 80, 236);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    padding: 25px 15px 0 15px;
    margin: 30px 0;
    overflow: hidden;
}
.sec-4{
    margin-top: -60;
    display: none;
    flex-direction: column;
    align-items: center;
    height:500px;
    justify-content: space-around;
}
.sec-ano{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 510px;
 padding: 0 0 50px 0;
}
.pho img{
    width: 500px;
    height: 700px;
}
}
